<p class="text-green-500"><%= notice %></p>

<%= render @student %>

<div class="flex gap-4">
  <a href="<%= edit_student_path(@student) %>" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Edit this student
  </a>
</div>