<div class="bg-white shadow rounded-lg p-4 mb-6">
    <h2 class="text-xl font-semibold mb-4">Commit Table</h2>
    <table id="bottom-students-table"></table>
    <br>
    <b> Notes: </b>
    <p> Siswa dengan jumlah commits < 5 akan muncul di table ini</p>
</div>
