<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UHO Student Performance Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <%= javascript_include_tag 'course_dashboard' %>

</head>
<body class="bg-gray-100">
    <h1 class="text-3xl font-bold text-center text-blue-500 mb-4">UHO Student Performance Dashboard</h1>
    <h2 class="text-3xl font-bold text-center text-blue-500 mb-4"><%= @course_title  %></h2>
    <img class="h-20 w-20 mx-auto rounded-full border-2 border-blue-500 mb-6" src="<%= asset_path('Logo_Universitas_Halu_Oleo.png') %>" alt="UHO Logo">
    <div class="p-6 max-w-6xl mx-auto">
        <%= yield %>
    </div>
</body>
</html>
